In [19]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

train_data = pd.read_csv("https://raw.githubusercontent.com/ThousandAI/pycs4001/main/class09/train.csv")
test_data = pd.read_csv("https://raw.githubusercontent.com/ThousandAI/pycs4001/main/class09/test.csv")
test_ids = test_data["PassengerId"]
#print(test_ids)

def clean(data):
    data = data.drop(["PassengerId", "Name", "Ticket"], axis=1)

    cols = ["SibSp", "Parch", "Fare", "Age"]
    for col in cols:
        data[col].fillna(data[col].mean(), inplace=True)

    data.Embarked.fillna("U", inplace=True)

    return data

train_data = clean(train_data)
test_data = clean(test_data)

In [20]:
train_data

     Survived  Pclass     Sex        Age  SibSp  Parch     Fare Cabin Embarked
0           0       3    male  22.000000      1      0   7.2500   NaN        S
1           1       1  female  38.000000      1      0  71.2833   C85        C
2           1       3  female  26.000000      0      0   7.9250   NaN        S
3           1       1  female  35.000000      1      0  53.1000  C123        S
4           0       3    male  35.000000      0      0   8.0500   NaN        S
..        ...     ...     ...        ...    ...    ...      ...   ...      ...
886         0       2    male  27.000000      0      0  13.0000   NaN        S
887         1       1  female  19.000000      0      0  30.0000   B42        S
888         0       3  female  29.699118      1      2  23.4500   NaN        S
889         1       1    male  26.000000      0      0  30.0000  C148        C
890         0       3    male  32.000000      0      0   7.7500   NaN        Q

[891 rows x 9 columns]

In [21]:
X = train_data.iloc[:, 1:]
Y = train_data.iloc[:, 0]

print(f"train data shape: {X.shape}")
print(f"test data shape: {test_data.shape}")

train data shape: (891, 8)
test data shape: (418, 8)

In [22]:
concat_data = pd.concat([X, test_data], axis=0)
dummy_data = pd.get_dummies(concat_data)

dummy_train_data = dummy_data.iloc[:891, :]
dummy_test_data = dummy_data.iloc[891:, :]

In [24]:
print(dummy_train_data.shape)

(891, 197)

In [25]:
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
sc_x = scaler.fit_transform(dummy_train_data)

In [43]:
from sklearn.model_selection import cross_val_score
from sklearn.linear_model import LogisticRegression

In [45]:
model = LogisticRegression(random_state=10)
model.fit(sc_x, Y)

LogisticRegression(random_state=10)

In [47]:
sc_test_data_x = scaler.transform(dummy_test_data)

submission = model.predict(sc_test_data_x)

print(submission)

[0 0 0 0 1 0 1 0 1 0 0 0 1 0 0 1 0 0 1 1 0 0 1 1 1 0 1 0 0 0 0 0 0 0 0 0 1
 1 0 0 0 0 0 1 1 0 0 0 1 1 0 0 1 1 0 0 0 0 0 1 0 0 0 1 1 1 1 0 0 1 1 0 1 0
 1 1 0 1 0 1 0 0 0 0 0 0 1 1 1 0 1 0 0 0 1 0 0 0 1 0 1 0 0 0 1 0 0 0 0 0 0
 1 1 1 1 0 0 1 0 1 1 0 1 0 0 1 0 1 0 0 0 0 1 0 0 0 0 0 1 0 0 1 1 0 0 0 0 0
 0 0 1 0 0 1 0 0 1 1 0 1 1 0 1 0 0 1 0 0 1 1 0 0 0 0 0 1 1 0 1 1 0 0 0 0 1
 0 1 0 0 0 0 0 0 0 0 0 1 1 0 1 1 0 1 1 0 0 1 0 1 0 0 0 0 0 0 0 1 0 1 0 1 0
 1 0 1 1 0 1 0 0 0 1 0 0 1 0 1 0 1 0 1 1 1 0 0 1 1 0 1 1 1 0 1 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 1 0 0 0 1 1 0 1 0 0 0 0 1 0 1 1 1 0 0 0 0 0 0 1 0 1 0 0
 1 0 0 0 0 0 0 0 1 1 0 0 1 0 0 0 0 1 1 1 1 0 0 0 0 0 1 0 1 0 1 0 0 0 1 0 0
 1 0 1 0 0 0 0 0 0 0 1 0 1 0 1 0 1 1 0 0 0 1 0 1 0 0 1 0 1 1 0 1 0 0 1 1 0
 0 1 0 0 1 1 0 0 0 0 0 0 1 1 0 1 0 0 0 0 1 1 0 0 0 1 0 1 0 0 1 0 1 1 0 0 0
 0 1 1 1 1 1 0 1 0 0 0]

In [48]:
submission_data = pd.DataFrame({"PassengerId": test_ids.values, "Survived": submission })

submission_data.to_csv("submission.csv", index=False)